/*se importa la tipografía Balthazar y Alegreya SC de google fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital@1&family=Balthazar&family=Fahkwang:wght@400;600;700&display=swap');


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>BODY<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.colorGreen {
    color: rgb(100, 125,98);
}

.colorBN{
    color: rgb(87,87,86);
}

.colorBlue {
    color: rgb(83,103,129);
}

.colorBronw {
    color: rgb(150, 111, 101);
}

* {
    font-family: 'Fahkwang';
    padding: 0px;
    box-sizing: border-box;
    color:  rgb(100, 125, 98);;
}
button{
    cursor: pointer;
}

body {
    font-size: 12px;
    margin: 0px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3{
    font-size: 18px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

p {
    font-size: 16px;
}

a {
    color: rgb(60, 79, 100);
}
i {
    font-size: 2em;
    margin-bottom: 10px;
}
    
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>HEADER<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

header {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;
    /*height: 50px;*/
    /*object-fit: contain;*/
}

header div {
    width: 100%;
    height: 100%;
}

header div a {
    width: 100%;
    height: 100%;
}

header div a img {
    width: 100%;
    height: 100%;
}
/*
.logo {
    width: 30%;
    
}*/



/*
.logo-mobile {
    width: 50px;
    height: 50px;
}

.logo-mobile a img {
    width: 100%;
}

.logo-desktop {
    display: none;
}
*/

/*boton recerva*/

article.reserva {
    width: 100%;
    padding: 10px;
}

article.reserva a {    
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: rgb(100, 125, 98);
}

article.reserva a i {
    height: 100%;
    margin: 5px;
} 


/* hover burger-menu*/

.background-burger:hover {
    background-color: rgb(60,79,100);
    color: white;
    transform: scale(1.1);
    border-radius:25px ;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    
}

/*nav*/


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MAIN<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


main {
    width: 100%;
    margin: 10px;
    /*background: linear-gradient(to bottom,  rgb(245, 228, 180), rgb(250, 250, 250));*/
}


/*sections*/

/*section welcome*/
.welcome {
    width: 100%;
    padding: 10px;
    justify-content: center;
}

/*section galeria*/
.galeria {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.habitaciones {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.restaurant {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eventos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.img-galeria {
    width: 100%;
}


button.btn-galeria {
    font-size: 24px;
    width: 170px;
    height: 45px;
    border-radius: 10px;
    background-color: rgba(100, 125,98,0.4);
    border: solid 2px rgb(100, 125,98);
    color: rgb(255,255,255);
    position: relative;
    top: -45vw;
    z-index: 10;
    transition: all 300ms;
}

button.btn-galeria:hover {
    background-color:  rgb(100, 125,98);
    transform: scale(1.2);
}




a.btn-galeria {
    text-decoration: none; 
}

/*section serves*/
.serves {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
    align-items: center;
}
.article-serves {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.icon-serves {
    display: flex;
    margin: 5px;
    width: 260px;
    align-items: center;
}
.icon-serves i {
    display: flex;
    align-items: center;
    margin-right: 2px;
    width: 20%;
    height: 100%;
}

.icon-serves p {
    display: flex;
    align-items: center;
    padding: 2px;
    width: 80%;
    height: 100%;
}



/*section info*/
.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.mapa {
    width: 100%;
    padding: 10px;
}

.mapa a {
    width: 100%;
}

.mapa a img {
    width: 100%;
}



/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>mostrador piezas<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

main.mostrador {
    align-items: center;
}

h1.h1Mostrador  {
    font-size: 30px;
    color: rgb(100, 125,98);
    margin: 10px;
}

.section-card-room-mostrador {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: space-around;
    align-items: center;
}

.card-room {
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: space-around;
    /*border-radius: 15px;*/
    box-shadow: 0px 0px 10px rgb(87,87,86);
    margin-bottom: 30px;
    padding: 15px;
}

.photo-room {
    height: 30%;
    object-fit: contain;
}


.photo-room img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /*border-radius: 15px;*/
}

.info-room {
    width: 100%;
    height: 70%;
}

.info-room a { 
    text-decoration: none; 
    color: rgb(100, 125, 98);
}

.description-room {
    width: 100%;
    margin: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.description-room p {
    padding: 2px;
}
.description-room i {
    padding: 2px;
    color: rgb(186, 142, 133);
}

.room-price {
    position: relative;
    z-index: 10;
    bottom: -30px;
    left: 70%;
    width: 60px;
    height: 60px;
    background-color: rgb(186, 142, 133);
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    transition: all 300ms;
}

.room-price:hover {
    transform: scale(1.2);
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>piezas<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.habitacion-main{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.cuerpo-pieza {
    margin: 5 px;
    padding: 5px;
}
.cuerpo-pieza ul {
    display: inline;
    list-style: none;
    flex-wrap: nowrap;
    margin: 3px;
    padding: 3px;
}

.cuerpo-pieza ul li {
    margin: 3px;
    padding: 3px;
    display: flex;
}

.cuerpo-pieza ul li i {
    margin-right: 10px;
}

.encabezado {
    margin-left: 6px;
}

.precio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px;
    padding: 5px;
}

.precio-box {
    background-color:  rgb(186, 142, 133);
    color: rgb(255, 255, 255);
    height: 60px;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    transition: all 300ms;
}

.precio-box:hover {
    transform: scale(1.1);
}






/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>BOOTSTRAP<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

div.carousel {
    padding: 10px;
}



/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>FOOTER<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

footer {
   padding: 10px;
   width: 100%;
   height: auto;
} 

section.guarda-footer-superior {
    width: 100%;
    height: 100%;
}

section.guarda-footer-superior img {
    width: 100%;
    height: 100%;
}

section.guarda-footer-inferior {
    margin-top: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(100, 125, 98);
    justify-content: flex-start;
    align-items: center;
}


section.guarda-footer-inferior article.izquierda {
    width:  75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

section.guarda-footer-inferior article.izquierda div.zocaloIzquierdo {
    display: none;
    width: 25%;
    height: 100%;
    object-fit: contain;
}

section.guarda-footer-inferior article.izquierda div.zocaloIzquierdo img {
    width: 100%;
    height: 100%;
}
section.guarda-footer-inferior article.izquierda div.contacto {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}




section.guarda-footer-inferior article.izquierda div.contacto p {
    font-size: 16px;
    color: rgb(255, 255, 255);
}

section.guarda-footer-inferior article.izquierda div.contacto  p.telefono2  {
    display: none;
}

section.guarda-footer-inferior article.izquierda div.contacto  p.email2 {
    display: none;
}

section.guarda-footer-inferior article.izquierda div.contacto  p.direccion2  {
    display: none;
}



section.guarda-footer-inferior article.social-media {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

section.guarda-footer-inferior article.social-media div {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
}



section.guarda-footer-inferior article.social-media div a {
    width: 100%;
    height: 100%;
}

section.guarda-footer-inferior article.social-media div a img {
    width: 100%;
    height: 100%;
}






/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MEDIA QUIRES<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*tablet*/
@media (min-width: 361px) {
    p {
        font-size: 20px;
    }
    h1.h1Mostrador  {
        font-size: 30px;
    }
    .room-price {
        width: 100px;
        height: 100px;
        font-size: 24px;
    }
    .guarda-footer-inferior {
        margin-top: 15px;
    }
    section.guarda-footer-inferior article.izquierda div.contacto  p.telefono1 {
        display: none;
    }
    
    section.guarda-footer-inferior article.izquierda div.contacto  p.email1 {
        display: none;
    }
    
    section.guarda-footer-inferior article.izquierda div.contacto  p.direccion1 {
        display: none;
    }
    section.guarda-footer-inferior article.izquierda div.contacto  p.telefono2  {
        display: block;
    }
    
    section.guarda-footer-inferior article.izquierda div.contacto  p.email2 {
        display: block;
    }
    
    section.guarda-footer-inferior article.izquierda div.contacto  p.direccion2  {
        display: block;
    }
}


/*desktop*/
@media (min-width: 761px) {
    h1 {
        font-size: 60px;
    }
    
    h2 {
        font-size: 50px;
    }

     
    .logo-mobile {
        display: none;
    }
    
    .logo-desktop {
        display: flex;
        align-items: center;
        width: 230px;
        height: 80px;        
    }
    .logo-desktop a img {
        width: 100%;
    }
    .burger-menu {
        display: none;
    }
    .logo-footer {
        width: 25vw;
        display: flex;
        justify-content: center;
    }
    .contacto h6, .contacto ul{
        padding-left: 0px
    }
    h1.h1Mostrador  {
        font-size: 50px;
    }
    .card-room {
        flex-direction: row;
        align-items: center;
    } 
    .photo-room {
        width: 40%;
        margin: 10px;
    }
    .info-room {
        width: 60%;
        padding: 5px;
    }
    
    .precio-box {
        position: relative;
        z-index: 10;
        left: 67vw;
        top: 10px;
        height: 120px;
        width: 120px;
    }
        
    .precio {
        flex-direction: row;
        justify-content: flex-start;
    }   
    .pasajeros {
        width: 15%;
        justify-content: space-between;
    }
    .pasajeros i {
       margin-right: 10px;
    }
    .guarda-footer-inferior {
        margin-top: 20px;
    }
    section.guarda-footer-inferior article.izquierda div.zocaloIzquierdo {
        display: block;
    }
}



@media (min-width: 1000px) {
    .guarda-footer-inferior {
        margin-top: 30px;
    }
}
     
