/*se importa la tipografía Balthazar y Alegreya SC de google fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital@1&family=Balthazar&family=Fahkwang:wght@200;400;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>BODY<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.colorGreen {
    color: rgb(100, 125,98);
}

.colorBN {
    color: rgb(87,87,86);
}

.colorBlue {
    color: rgb(83,103,129);
}

.colorBronw {
    color: rgb(150, 111, 101);
}

* {
    font-family: 'Open Sans','Fahkwang', 'Balthazar';
    padding: 0px;
    box-sizing: border-box;
    color:  rgb(100, 125, 98);;
}

button {
    cursor: pointer;
}

body {
    font-size: 12px;
    margin: 0px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 10px;
}

p {
    font-size: 14px;
}

a {
    color: rgb(100, 125, 98);
    text-decoration: none;
}

i {
    font-size: 2em;
    margin-bottom: 10px;
}
    
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>HEADER<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

header {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;
    /*height: 50px;*/
    /*object-fit: contain;*/
}

header div {
    width: 100%;
    height: 100%;
}

header div a {
    width: 100%;
    height: 100%;
}

header div a img {
    width: 100%;
    height: 100%;
}
/*
.logo {
    width: 30%;
    
}*/



/*
.logo-mobile {
    width: 50px;
    height: 50px;
}

.logo-mobile a img {
    width: 100%;
}

.logo-desktop {
    display: none;
}
*/

/*boton recerva*/

article.reserva {
    width: 100%;
    padding: 10px;
}

article.reserva a {    
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: rgb(100, 125, 98);
}

article.reserva a i {
    height: 100%;
    margin: 5px;
} 


/* hover burger-menu*/

.background-burger:hover {
    background-color: rgb(60,79,100);
    color: white;
    transform: scale(1.1);
    border-radius:25px ;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    
}

/*nav*/


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MAIN<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


main {
    width: 100%;
    margin: 10px;
    /*background: linear-gradient(to bottom,  rgb(245, 228, 180), rgb(250, 250, 250));*/
}


/*sections*/

/*section welcome*/
.welcome {
    width: 100%;
    padding: 10px;
    justify-content: center;
}

/*section galeria*/
.galeria {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.habitaciones {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.restaurant {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.galery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.img-galeria {
    width: 100%;
}


button.btn-galeria {
    font-size: 18px;
    width: 100%;
    height: 30px;
    background-color: rgba(100, 125,98,0);
    border: solid 1.5px rgb(100, 125,98);
    color: rgb(255,255,255);
    position: relative;
    top: -45vw;
    z-index: 10;
    transition: all 300ms;
}

button.btn-galeria:hover {
    background-color:  rgb(100, 125,98);
    transform: scale(1.2);
}


section.galeria div a {
    text-decoration: none;
    width: 100%; 
    display: contents;
}

/*a.btn-galeria {

}*/

/*section serves*/
.serves {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
    align-items: center;
}

.article-serves {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.icon-serves {
    display: flex;
    margin: 5px;
    padding: 2px;
    width: 260px;
    align-items: center;
}

.icon-serves i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    width: 20%;
    height: 100%;
}

.icon-serves p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
    width: 80%;
    height: 100%;
}



/*section info*/
.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.mapa {
    width: 100%;
    padding: 10px;
}

.mapa a {
    width: 100%;
}

.mapa a img {
    width: 100%;
}


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Banner index<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.full-imgBanner {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 90;
}

.full-imgBanner img {
    width: 100%;
    max-width: 600px;
}



.full-imgBanner span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}



/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>mostrador piezas<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

main.mostrador {
    align-items: center;
}

h1.h1Mostrador  {
    color: rgb(100, 125,98);
    margin: 10px;
}

.section-card-room-mostrador {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: space-around;
    align-items: center;
}

.card-room {
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: space-around;
    /*border-radius: 15px;*/
    box-shadow: 0px 0px 10px rgb(87,87,86);
    margin-bottom: 30px;
    padding: 15px;
}

.photo-room {
    height: 30%;
    object-fit: contain;
}


.photo-room img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /*border-radius: 15px;*/
}

.info-room {
    width: 100%;
    height: 70%;
}

.info-room a { 
    text-decoration: none; 
    color: rgb(100, 125, 98);
}

.description-room {
    width: 100%;
    margin: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.description-room p {
    padding: 2px;
}
.description-room i {
    padding: 2px;
    color: rgb(186, 142, 133);
}
precio
.room-price {
    
    padding: 5px;
    position: relative;
    z-index: 10;
    bottom: -30px;
    left: 70%;
    width: 80px;
    height: 80px;
    background-color: rgb(186, 142, 133);
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    transition: all 300ms;
}

.room-price:hover {
    transform: scale(1.2);
}


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>piezas<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.habitacion-main{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.cuerpo-pieza {
    padding: 20px;
}

section.encabezado {
    margin-left: 6px;
}
section.encabezado div.back-btn {
    margin-left: 6px;
}

article.tarifas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px;
    padding: 5px;
}
div.pasajeros {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

div.pasajeros i {
    margin: 0px 5px;
}

section.encabezado div.back-btn a {
    text-decoration: none;
}


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>BOOTSTRAP<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

div.carousel {
    padding: 10px;
}
button.btn-primary {
    background-color: black;
    border: none;
    transition: all 300ms;
}
button.btn-primary:hover {
    transform: scale(1.1);
    background-color: black;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>VENTANA EMERGENTE<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
h2.encabezado {
    font-size: 24px;
}
.modal{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#btn-modal:checked ~ .modal{
	opacity: 1;
	visibility: visible;
} 
.contenedor{
	width: 95%;
	height: auto;
	margin: auto;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
}
#btn-modal:checked ~ .modal .contenedor{
	transform: translateY(0%);
} 
.contenedor header{
	padding: 10px;
	background: rgb(100, 125, 98);
	color: rgb(255, 255, 255);
}
.contenedor label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: rgb(255, 255, 255);
	font-size: 15px;
	cursor: pointer;
}
.contenido{
	width: 100%;
	padding: 10px; 
}
.contenido h3{
	margin-bottom: 10px;
}
.contenido p{
	margin-bottom: 7px;
}
#btn-modal{
	display: none;
}
.lbl-modal{
	background: rgb(255, 255, 255);
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Image Galery<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.h1-galery{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}



.img-galery {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    gap: 30px;
}

.imgeGalery {
    width: 100%;
    cursor: pointer;
    transition: 0.8s;
    display: block;
    margin: auto;
}

.imgeGalery:hover{
    transform: scale(1.1);
    filter: brightness(80%);
}


.img-galery .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.full-img {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 90;
}

.full-img img {
    width: 100%;
    max-width: 600px;
}



.full-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}



/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>FOOTER<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

footer {
   padding: 10px;
   width: 100%;
   height: auto;
} 

section.guarda-footer-superior {
    width: 100%;
    height: 100%;
}

section.guarda-footer-superior img {
    width: 100%;
    height: 100%;
}

section.guarda-footer-inferior {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    width: 100%;
    height: 100%;
    background-color: rgb(100, 125, 98);
    justify-content: flex-start;
    align-items: center;
}


section.guarda-footer-inferior article.izquierda {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
 

footer section.guarda-footer-inferior article.izquierda div.zocaloIzquierdo {
    display: none;
    width: 25%;
    height: 100%;
    object-fit: contain;
}

footer section.guarda-footer-inferior article.izquierda div.zocaloIzquierdo img {
    display: none;
}
section.guarda-footer-inferior article.izquierda div.contacto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}




section.guarda-footer-inferior article.izquierda div.contacto p {
    font-size: 16px;
    color: rgb(255, 255, 255);
}

section.guarda-footer-inferior article.izquierda div.contacto  p.telefono2  {
    display: none;
}

section.guarda-footer-inferior article.izquierda div.contacto  p.email2 {
    display: none;
}

section.guarda-footer-inferior article.izquierda div.contacto  p.direccion2  {
    display: none;
}



section.guarda-footer-inferior article.social-media {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

section.guarda-footer-inferior article.social-media div {
    width: 30px;
    display: flex;
    justify-content: center;
    margin: 5px;
    align-items: center;
}



section.guarda-footer-inferior article.social-media div a {
    width: 100%;
    height: 100%;
}

section.guarda-footer-inferior article.social-media div a img {
    width: 100%;
    height: 100%;
}






/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MEDIA QUIRES<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*tablet*/
@media (min-width: 361px) {
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 21px;
    }
    p {
        font-size: 18px;
    }
    button.btn-galeria {
        font-size: 24px;
        width: 170px;
        height: 45px;
    }
    .room-price {
        width: 100px;
        height: 100px;
        font-size: 24px;
    }
    div.pasajeros i {
        margin: 0px 10px;
    }
    .guarda-footer-inferior {
        margin-top: 15px;
    }
    section.guarda-footer-inferior article.izquierda div.contacto {
        width: 75%;
    }
    section.guarda-footer-inferior article.izquierda div.contacto  p.telefono1 {
        display: none;
    }
    
    section.guarda-footer-inferior article.izquierda div.contacto  p.email1 {
        display: none;
    }
    
    section.guarda-footer-inferior article.izquierda div.contacto  p.direccion1 {
        display: none;
    }
    section.guarda-footer-inferior article.izquierda div.contacto  p.telefono2  {
        display: block;
    }
    
    section.guarda-footer-inferior article.izquierda div.contacto  p.email2 {
        display: block;
    }
    
    section.guarda-footer-inferior article.izquierda div.contacto  p.direccion2  {
        display: block;
    }
}

@media (min-width: 550px) {
    footer section.guarda-footer-inferior article.izquierda div.zocaloIzquierdo {
        display: block;
    }
    footer section.guarda-footer-inferior article.izquierda div.zocaloIzquierdo img {
        display: block;
        width: 100%;
        height: 100%;
    }
}

/*desktop*/
@media (min-width: 761px) {
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 28px;
    }
    .logo-mobile {
        display: none;
    }
    p.service-room{
        font-size: 18px;
    }
    .logo-desktop {
        display: flex;
        align-items: center;
        width: 230px;
        height: 80px;        
    }
    .logo-desktop a img {
        width: 100%;
    }
    .burger-menu {
        display: none;
    }
    .logo-footer {
        width: 25vw;
        display: flex;
        justify-content: center;
    }
    .contacto h6, .contacto ul{
        padding-left: 0px
    }
     .card-room {
        flex-direction: row;
        align-items: center;
    } 
    .photo-room {
        width: 40%;
        margin: 10px;
    }
    .info-room {
        width: 60%;
        padding: 5px;
    }        
    .guarda-footer-inferior {
        margin-top: 20px;
        flex-direction: row;
    }
    section.guarda-footer-inferior {
        flex-direction: row;
    }
    section.guarda-footer-inferior article.social-media {
        width: 10%;
        flex-direction: column;
    }
}



@media (min-width: 1000px) {
    body {
        margin: auto;
        width: 80vw;
    }
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 40px;
    }
    p {
        font-size: 35px;
    }
    .icon-serves p {
        font-size: 28px;
    }
    .guarda-footer-inferior {
        margin-top: 30px;
    }
    button.btn-galeria {
        top: -30vw;
    }
}

@media (min-width: 1300px) {
    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 60px;
    }
    p {
        font-size: 45px;
    }
}
     


