<!DOCTYPE html> 
<html> 
<!-- HEAD -->
<%- include('./partials/head') %>
<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
    <!-- MAIN -->
    <main>
        <section>
            <div class="slider">
                <ul>
                    <li>
                        <img src="/public/images/1.jpeg" alt="1">
                    </li>
                    <li>
                        <img src="/public/images/2.jpeg" alt="2">
                    </li>
                    <li>
                        <img src="/public/images/3.jpeg" alt="3">
                    </li>
                    <li>
                        <img src="/public/images/1.jpeg" alt="4">
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <!-- FOOTER -->
<%- include('./partials/footer') %>
</body>
</html>