<!DOCTYPE html> 
<html> 
<!-- HEAD -->
<%- include('./partials/head') %>
<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
    <!-- MAIN -->
    <main>
        <!-- Full screen -->
        <div class="full-img" id="fullImgBox1">
            <img src="/images/galery/desayuno1.jpg" alt="1">
            <span id="closeImg1">X</span>
        </div>
        <div class="full-img" id="fullImgBox2">
            <img src="/images/galery/desayuno3.jpg" alt="2">
            <span id="closeImg2">X</span>
        </div>
        <div class="full-img" id="fullImgBox3">
            <img src="/images/galery/desayuno6.jpg" alt="3">
            <span id="closeImg3">X</span>
        </div>
        <div class="full-img" id="fullImgBox4">
            <img src="/images/galery/desayuno7.jpg" alt="4">
            <span id="closeImg4">X</span>
        </div>

        <div class="full-img" id="fullImgBox5">
            <img src="/images/galery/premium1.jpg" alt="5">
            <span id="closeImg5">X</span>
        </div>
        <div class="full-img" id="fullImgBox6">
            <img src="/images/galery/premium10.jpg" alt="6">
            <span id="closeImg6">X</span>
        </div>
        <div class="full-img" id="fullImgBox7">
            <img src="/images/galery/premium5.jpg" alt="7">
            <span id="closeImg7">X</span>
        </div>
        <div class="full-img" id="fullImgBox8">
            <img src="/images/galery/premium8.jpg" alt="8">
            <span id="closeImg8">X</span>
        </div>
        <div class="full-img" id="fullImgBox9">
            <img src="/images/galery/premium13.jpg" alt="9">
            <span id="closeImg9">X</span>
        </div>
        <div class="full-img" id="fullImgBox10">
            <img src="/images/galery/premium12.jpg" alt="10">
            <span id="closeImg10">X</span>
        </div>

        <div class="full-img" id="fullImgBox11">
            <img src="/images/galery/ejecutiva1.jpg" alt="11">
            <span id="closeImg11">X</span>
        </div>
        <div class="full-img" id="fullImgBox12">
            <img src="/images/galery/ejecutiva2.jpg" alt="12">
            <span id="closeImg12">X</span>
        </div>
        <div class="full-img" id="fullImgBox13">
            <img src="/images/galery/ejecutiva7.jpg" alt="13">
            <span id="closeImg13">X</span>
        </div>
        <div class="full-img" id="fullImgBox14">
            <img src="/images/galery/ejecutiva9.jpg" alt="14">
            <span id="closeImg14">X</span>
        </div>

        <div class="full-img" id="fullImgBox15">
            <img src="/images/galery/standar1.jpg" alt="15">
            <span id="closeImg15">X</span>
        </div>
        <div class="full-img" id="fullImgBox16">
            <img src="/images/galery/standar2.jpg" alt="16">
            <span id="closeImg16">X</span>
        </div>
        <div class="full-img" id="fullImgBox17">
            <img src="/images/galery/standar4.jpg" alt="17">
            <span id="closeImg17">X</span>
        </div>
        <div class="full-img" id="fullImgBox18">
            <img src="/images/galery/standar7.jpg" alt="18">
            <span id="closeImg18">X</span>
        </div>
        <div class="full-img" id="fullImgBox19">
            <img src="/images/galery/standar8.jpg" alt="19">
            <span id="closeImg19">X</span>
        </div>


        <div class="full-img" id="fullImgBox20">
            <img src="/images/galery/general12.jpg" alt="20">
            <span id="closeImg20">X</span>
        </div>
        <div class="full-img" id="fullImgBox21">
            <img src="/images/galery/general13.jpg" alt="21">
            <span id="closeImg21">X</span>
        </div>
        <div class="full-img" id="fullImgBox22">
            <img src="/images/galery/general14.jpg" alt="22">
            <span id="closeImg22">X</span>
        </div>


        <div class="full-img" id="fullImgBox23">
            <img src="/images/galery/invierno1.jpg" alt="23">
            <span id="closeImg23">X</span>
        </div>
        <div class="full-img" id="fullImgBox24">
            <img src="/images/galery/invierno2.jpg" alt="24">
            <span id="closeImg24">X</span>
        </div>
        <div class="full-img" id="fullImgBox25">
            <img src="/images/galery/invierno3.jpg" alt="25">
            <span id="closeImg25">X</span>
        </div>
        <div class="full-img" id="fullImgBox26">
            <img src="/images/galery/invierno4.jpg" alt="26">
            <span id="closeImg26">X</span>
        </div>


        <div class="full-img" id="fullImgBox27">
            <img src="/images/galery/eventos1.jpg.jpg" alt="27">
            <span id="closeImg27">X</span>
        </div>
        <div class="full-img" id="fullImgBox28">
            <img src="/images/galery/eventos2.jpg.jpg" alt="28">
            <span id="closeImg28">X</span>
        </div>
        <div class="full-img" id="fullImgBox29">
            <img src="/images/galery/eventos4.jpg.jpg" alt="29">
            <span id="closeImg29">X</span>
        </div>


        <div class="full-img" id="fullImgBox30">
            <img src="/images/galery/ frente2.jpg.jpg" alt="30">
            <span id="closeImg30">X</span>
        </div>
        <div class="full-img" id="fullImgBox31">
            <img src="/images/galery/frente3.jpg.jpg" alt="31">
            <span id="closeImg31">X</span>
        </div>
        <div class="full-img" id="fullImgBox32">
            <img src="/images/galery/frente4.jpg.jpg" alt="32">
            <span id="closeImg32">X</span>
        </div>
        <div class="full-img" id="fullImgBox33">
            <img src="/images/galery/frente5.jpg.jpg" alt="33">
            <span id="closeImg33">X</span>
        </div>

        
        
        
        
        

        <div class="full-img" id="fullImgBox34">
            <img src="/images/galery/general1.jpg.jpg" alt="34">
            <span id="closeImg34">X</span>
        </div>
        <div class="full-img" id="fullImgBox35">
            <img src="/images/galery/general2.jpg.jpg" alt="35">
            <span id="closeImg35">X</span>
        </div>
        <div class="full-img" id="fullImgBox36">
            <img src="/images/galery/general3.jpg.jpg" alt="36">
            <span id="closeImg36">X</span>
        </div>
        <div class="full-img" id="fullImgBox37">
            <img src="/images/galery/general4.jpg.jpg" alt="37">
            <span id="closeImg37">X</span>
        </div>
        <div class="full-img" id="fullImgBox38">
            <img src="/images/galery/general5.jpg.jpg" alt="38">
            <span id="closeImg38">X</span>
        </div>


        <h1 class="h1-galery">Galeria de imágenes</h1>
        <!-- Galería -->
        <div class="img-galery">
            <img src="/images/galery/desayuno1.jpg" class="imgeGalery" id="fullImg1" alt="1">
            <img src="/images/galery/desayuno3.jpg" class="imgeGalery" id="fullImg2" alt="2">
            <img src="/images/galery/desayuno6.jpg" class="imgeGalery" id="fullImg3" alt="3">
            <img src="/images/galery/desayuno7.jpg" class="imgeGalery" id="fullImg4" alt="4">
            
            <img src="/images/galery/premium1.jpg" class="imgeGalery" id="fullImg5" alt="5">
            <img src="/images/galery/premium10.jpg" class="imgeGalery" id="fullImg6" alt="6">
            <img src="/images/galery/premium5.jpg" class="imgeGalery" id="fullImg7" alt="7">
            <img src="/images/galery/premium8.jpg" class="imgeGalery" id="fullImg8" alt="8">
            <img src="/images/galery/premium13.jpg" class="imgeGalery" id="fullImg9" alt="9">
            <img src="/images/galery/premium12.jpg" class="imgeGalery" id="fullImg10" alt="10">

            <img src="/images/galery/ejecutiva1.jpg" class="imgeGalery" id="fullImg11" alt="11">
            <img src="/images/galery/ejecutiva2.jpg" class="imgeGalery" id="fullImg12" alt="12">
            <img src="/images/galery/ejecutiva7.jpg" class="imgeGalery" id="fullImg13" alt="13">
            <img src="/images/galery/ejecutiva9.jpg" class="imgeGalery" id="fullImg14" alt="14">

            <img src="/images/galery/standar1.jpg" class="imgeGalery" id="fullImg15" alt="15">
            <img src="/images/galery/standar2.jpg" class="imgeGalery" id="fullImg16" alt="16">
            <img src="/images/galery/standar4.jpg" class="imgeGalery" id="fullImg17" alt="17">
            <img src="/images/galery/standar7.jpg" class="imgeGalery" id="fullImg18" alt="18">
            <img src="/images/galery/standar8.jpg" class="imgeGalery" id="fullImg19" alt="19">

            <img src="/images/galery/general12.jpg" class="imgeGalery" id="fullImg20" alt="20">
            <img src="/images/galery/general13.jpg" class="imgeGalery" id="fullImg21" alt="21">
            <img src="/images/galery/general14.jpg" class="imgeGalery" id="fullImg22" alt="22">
            <img src="/images/galery/invierno1.jpg" class="imgeGalery" id="fullImg23" alt="23">
            <img src="/images/galery/invierno2.jpg" class="imgeGalery" id="fullImg24" alt="24">
            <img src="/images/galery/invierno3.jpg" class="imgeGalery" id="fullImg25" alt="25">
            <img src="/images/galery/invierno4.jpg" class="imgeGalery" id="fullImg26" alt="26">

            <img src="/images/galery/eventos1.jpg" class="imgeGalery" id="fullImg27" alt="27">
            <img src="/images/galery/eventos2.jpg" class="imgeGalery" id="fullImg28" alt="28">
            <img src="/images/galery/eventos4.jpg" class="imgeGalery" id="fullImg29" alt="29">

            <img src="/images/galery/frente2.jpg" class="imgeGalery" id="fullImg30" alt="30">
            <img src="/images/galery/frente3.jpg" class="imgeGalery" id="fullImg31" alt="31">
            <img src="/images/galery/frente4.jpg" class="imgeGalery" id="fullImg32" alt="32">
            <img src="/images/galery/frente5.jpg" class="imgeGalery" id="fullImg33" alt="33">

            <img src="/images/galery/general1.jpg" class="imgeGalery" id="fullImg34" alt="34">
            <img src="/images/galery/general2.jpg" class="imgeGalery" id="fullImg35" alt="35">
            <img src="/images/galery/general3.jpg" class="imgeGalery" id="fullImg36" alt="36">
            <img src="/images/galery/general4.jpg" class="imgeGalery" id="fullImg37" alt="37">
            <img src="/images/galery/general5.jpg" class="imgeGalery" id="fullImg38" alt="38">





            
        </div>
    </main>
    <!-- FOOTER -->
<%- include('./partials/footer') %>
<script src="/js/galery.js"></script>
</body>
</html>
