<!DOCTYPE html>
<html>
<!-- HEAD -->
<%- include('./partials/head') %>

<body>
  <!-- HEADER -->
  <%- include('./partials/header') %>
  <!-- MAIN -->
  <main class="mostrador">

    <!--carruselAnimado-->
    <section class="carrusel">

      <!--Carrusel-->
      <div class="contenedor-slider">
        
        <!--Boton Izquierdo-->
        <div class="icono-izquierdo" id="icono-izquierdo">
            <span class="arrowSlider material-symbols-outlined">arrow_forward_ios</span>
        </div>

        <!--Boton Derecho-->
        <div class="icono-derecho" id="icono-derecho">
            <span class="arrowSlider material-symbols-outlined">arrow_forward_ios</span>
        </div>

        <!--Imagnenes Slider-->
        <div class="slider-screen">
            <div class="sliderHabitacionesMostrador" id="slider">
                <img decoding="async" class="img-sliderHabitacionesMostrador" id="img-slider" src="/images/habitaciones/Premium/premium1.jpg" alt="">
                <img decoding="async" class="img-sliderHabitacionesMostrador" id="img-slider" src="/images/habitaciones/Ejecutiva/ejecutiva2.jpg" alt="">
                <img decoding="async" class="img-sliderHabitacionesMostrador" id="img-slider" src="/images/habitaciones/Standar/standar1.jpg" alt="">
                <img decoding="async" class="img-sliderHabitacionesMostrador" id="img-slider" src="/images/desayuno/desayuno2.jpg" alt="">
                <img decoding="async" class="img-sliderHabitacionesMostrador" id="img-slider" src="/images/desayuno/desayuno1.jpg" alt="">
            </div>
        </div>
        
      </div>
    </section>



    <!--Card-->
    <section class="section-card-room-mostrador">

      <h1 class="h1Mostrador">Habitaciones amplias, cómodas y bien equipadas</h1>

      <!--Premium-->
      <a href="/habitaciones/premium/">
        <article class="card-room">
          <div class="photo-room">
            <img src="/images/habitaciones/Premium/premium8.jpg" alt="Img Premium">
          </div>
          <div class="info-room">
            <h2>Premium</h2>
            <div class="description-room">
              <p class="service-room">
                Cuenta con una cama King zise, opcional doble matrimonial.
                internet Wifi, TV pantalla plana, baño privado, aire acondicionado frío/calor, desayuno incluido.
                <br><strong>Ver más...</strong>
              </p>
              <div class="room">
                <div class="passenger">
                  <i class="fa-solid fa-user"></i>
                  <i class="fa-solid fa-user"></i>
                  <i class="fa-solid fa-user"></i>
                  <i class="fa-solid fa-user"></i>
                  <i class="fa-solid fa-bed"></i>
                  <i class="fa-solid fa-bed"></i>
                </div>
              </div>
            </div>
            <div class="room-price">
              Desde $120.000
            </div>
          </div>
        </article>
      </a>

      <!--Ejecutiva-->
      <a href="/habitaciones/suite/">
        <article class="card-room">
          <div class="photo-room">
            <img src="/images/habitaciones/Ejecutiva/ejecutiva7.jpg" alt="Img Premium">
          </div>
          <div class="info-room">
            <h2>Ejecutiva</h2>
            <div class="description-room">
              <p class="service-room">
                Cuenta con una cama Queen zise, opcional triple matrimonial, triple twin.
                internet Wifi, TV pantalla plana, baño privado, aire acondicionado frío/calor, desayuno incluido.
                <br><strong>Ver más...</strong>
              </p>
              <div class="room">
                <div class="passenger">
                  <i class="fa-solid fa-user"></i>
                  <i class="fa-solid fa-user"></i>
                  <i class="fa-solid fa-user"></i>
                  <i class="fa-solid fa-bed"></i>
                  <i class="fa-solid fa-bed"></i>
                  <i class="fa-solid fa-bed"></i>
                </div>
              </div>
            </div>
            <div class="room-price">
              Desde $80.000
            </div>
          </div>
        </article>
      </a>

      <!--Standar-->
      <a href="/habitaciones/standar/">
        <article class="card-room">
          <div class="photo-room">
            <img src="/images/habitaciones/Standar/standar8.jpg" alt="Img Premium">
          </div>
          <div class="info-room">
            <h2>Standard</h2>
            <div class="description-room">
              <p class="service-room">
                Cuenta con tres camas individuales, opcional triple matrimonial.
                internet Wifi, TV pantalla plana, baño privado, aire acondicionado frío/calor, desayuno incluido.
                <br><strong>Ver más...</strong>
              </p>
              <div class="room">
                <div class="passenger">
                  <i class="fa-solid fa-user"></i>
                  <i class="fa-solid fa-user"></i>
                  <i class="fa-solid fa-user"></i>
                  <i class="fa-solid fa-bed"></i>
                  <i class="fa-solid fa-bed"></i>
                  <i class="fa-solid fa-bed"></i>
                </div>
              </div>
            </div>
            <div class="room-price">
              Desde $65.000
            </div>
          </div>
        </article>
      </a>
      <article class="reserva">
        <a href="https://api.whatsapp.com/send/?phone=+54 260 4801469&text=Hola quiero hacer una reserva" target="_blank">
          <h2>Hace tu Reserva</h2><i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
      </article>
    </section>
    <!--End Card-->





  </main>
  <!-- FOOTER -->
  <%- include('./partials/footer') %>

  
<script src="/js/carruselAnimado.js"></script>

</body>

</html>