<!DOCTYPE html> 
<html> 
<!-- HEAD -->
<%- include('./partials/head') %>
<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
    <!-- MAIN -->
<main>
    






    
</main>
    <!-- FOOTER -->
<%- include('./partials/footer') %>
</body>
</html>