<!DOCTYPE html> 
<html> 
<!-- HEAD -->
<%- include('./partials/head') %>
<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
    <!-- MAIN -->
<main class="mostrador">
    <!--Slider bootstrap-->
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="/images/habitaciones/Premium/10.jpg" class="d-block w-100" alt="1">
            </div>
            <div class="carousel-item">
            <img src="/images/habitaciones/Standar/27.jpg" class="d-block w-100" alt="2">
            </div>
            <div class="carousel-item">
            <img src="/images/habitaciones/Ejecutiva/26.jpg" class="d-block w-100" alt="3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--End slider--> 
   
    <!--Card-->
    <section class="section-card-room-mostrador">
        
        <h1 class="h1Mostrador">Habitaciones amplias, cómodas y bien equipadas</h1>

        <!--Premium-->
        <article class="card-room">
            <div class="photo-room">
                <img src="/images/habitaciones/Premium/10.jpg"alt="Img Premium">
            </div>
            <div class="info-room">
                <a href="/habitaciones/premium/"><h2>Premium</h2></a>
                <div class="description-room">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Cum natus praesentium iste suscipit eius excepturi!
                        Laudantium molestias, recusandae quod odio ratione vel,
                        quia eius soluta quasi maxime repudiandae dignissimos assumenda?
                    </p>
                    <div class="room">
                        <div class="passenger">
                            <i class="fa-solid fa-user"></i>
                            <i class="fa-solid fa-user"></i>
                            <i class="fa-solid fa-user"></i>
                            <i class="fa-solid fa-bed"></i>
                            <i class="fa-solid fa-bed"></i>
                        </div>
                    </div>
                </div>
                <div class="room-price">
                    $500
                </div>
            </div>
        </article>

        <!--Ejecutiva-->
        <article class="card-room">
            <div class="photo-room">
                <img src="/images/habitaciones/Ejecutiva/18.jpg"alt="Img Premium">
            </div>
            <div class="info-room">
                <a href="/habitaciones/suite/"><h2>Ejecutiva</h2></a>
                <div class="description-room">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Cum natus praesentium iste suscipit eius excepturi!
                        Laudantium molestias, recusandae quod odio ratione vel,
                        quia eius soluta quasi maxime repudiandae dignissimos assumenda?
                    </p>
                    <div class="room">
                        <div class="passenger">
                            <i class="fa-solid fa-user"></i>
                            <i class="fa-solid fa-user"></i>
                            <i class="fa-solid fa-user"></i>
                            <i class="fa-solid fa-bed"></i>
                            <i class="fa-solid fa-bed"></i>
                        </div>
                    </div>
                </div>
                <div class="room-price">
                    $500
                </div>
            </div>
        </article>

        <!--Standar-->
        <article class="card-room">
            <div class="photo-room">
                <img src="/images/habitaciones/Standar/27.jpg"alt="Img Premium">
            </div>
            <div class="info-room">
                <a href="/habitaciones/standar/"><h2>Standar</h2></a>
                <div class="description-room">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Cum natus praesentium iste suscipit eius excepturi!
                        Laudantium molestias, recusandae quod odio ratione vel,
                        quia eius soluta quasi maxime repudiandae dignissimos assumenda?
                    </p>
                    <div class="room">
                        <div class="passenger">
                            <i class="fa-solid fa-user"></i>
                            <i class="fa-solid fa-user"></i>
                            <i class="fa-solid fa-user"></i>
                            <i class="fa-solid fa-bed"></i>
                            <i class="fa-solid fa-bed"></i>
                        </div>
                    </div>
                </div>
                <div class="room-price">
                    $500
                </div>
            </div>
        </article>
        

    <!--End Card-->
        
        
      
    
    
    
    </main>
    <!-- FOOTER -->
<%- include('./partials/footer') %>
</body>
</html>