<!DOCTYPE html> 
<html> 
<!-- HEAD -->
<%- include('./partials/head') %>
<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
    <!-- MAIN -->
    <main><h1>Hola Mundo!</h1> </main>
    <!-- FOOTER -->
<%- include('./partials/footer') %>
</body>
</html>