<!DOCTYPE html> 
<html> 

<!-- HEAD -->
<%- include('./partials/head') %>

<body>
    <!-- HEADER -->
<%- include('./partials/header') %>

<!-- MAIN -->
<main>
    
    <!--Slider bootstrap-->
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/general/21.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/general/25.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/habitaciones/Premium/15.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <!--End slider--> 
    
    <section class="welcome">
        <div class="encabezado">
            <h1>Viví la experiencia con los 5 sentidos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur iusto iste ipsam ut commodi, repellendus autem mollitia nulla aut inventore officia voluptates? Dolores maiores, fuga totam architecto rerum eligendi mollitia.</p>
        </div>
    </section>

    <section class= "galeria">

        <div class="habitaciones">  
            <img class="img-galeria" src="/images/habitaciones/Premium/16.jpg" alt="imagen de pieza">
            <a href="/habitaciones"><button class="btn-galeria">Habitaciones</button></a>
        </div>
        
        <div class="restaurant">
            <img class="img-galeria" src="/images/restaurant/08.jpg" alt="imagen restaurant">
            <a href="/carta"><button class="btn-galeria">Restaurant</button></a>
        </div>
        
        <div class="eventos">
            <img class="img-galeria" src="/images/general/05Aret.jpg" alt="imagen eventos">
            <a href="/socialmedia"><button class="btn-galeria">Eventos</button></a>
        </div>
    
    </section>

    <section class="info">

        <div class="ubicacion">
            <h2>Cómo llegar</h2>
        </div>
        <div class="ubicacion">
            <h3 class="colorBronw">Dirección: Av Falsa 123</h3>
        </div>
        <div class="mapa">
            <a href="https://goo.gl/maps/Fxhih4oHwriujXvW7" target="_blank"><img class="img-galeria" src="/images/general/map.PNG" alt="imagen eventos"></a>
        </div>
        
    </section>
    
    <section class="serves">
        <div>
            <h2>Servicios</h2>
        </div>
        <article class="article-serves">
            <div class="icon-serves"><i class="colorBronw fa-solid fa-bell-concierge"></i><p class="colorBronw">Recepción 24 horas</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-mug-hot"></i><p class="colorBronw">Desayuno incluido</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-kitchen-set"></i><p class="colorBronw">Kitchenette</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-utensils"></i><p class="colorBronw">Servicio de restaurant</p></div>
            <div class="icon-serves"><i class="colorBronw fa-regular fa-credit-card"></i><p class="colorBronw">Todas las tarjetas</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-car-side"></i><p class="colorBronw">Cocheras privadas</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-suitcase-rolling"></i><p class="colorBronw">Taquillas guardaequipaje</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-wifi"></i><p class="colorBronw">Servicio de internet</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-tv"></i><p class="colorBronw">Television</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-wheelchair"></i><p class="colorBronw">Accesibilidad</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-water-ladder"></i><p class="colorBronw">Pileta</p></div>
        </article>
    </section>
</main>

    <!-- FOOTER -->
<%- include('./partials/footer') %>

</body>
</html>
