<!DOCTYPE html> 
<html> 

<!-- HEAD -->
<%- include('./partials/head') %>

<body>
    <!-- HEADER -->
<%- include('./partials/header') %>

<!--Banner-->
<section class="fullBanner" id="fullImgBox1Banner">
    <div class="full-imgBanner">
        <!--Agregar imagen aquí-->
        <img src="/images/banner/promoMayo24.jpg" alt="1">
        
        <!--Agregar video aquí-- >
        <video class="vidio-banner" autoplay muted loop >
            <source src="/video/banner/primeraNevadaMayo.mp4" type="video/mp4">
        </video>
        <! --audio autoplay controls>
            <source src="/video/banner/primeraNevadaMayo.mp3" type="audio/mpeg">
        </audio-->

        <span id="closeImg1Banner">X</span> 
    </div>
</section>
<!--End Banner--> 

<!-- MAIN -->
<main>
    <!--carruselAnimado-->
    <section class="carrusel">

        <!--Carrusel-->
        <div class="contenedor-slider">

           <!--Boton Izquierdo-->
            <div class="icono-izquierdo" id="icono-izquierdo">
                <span class="arrowSlider material-symbols-outlined">arrow_forward_ios</span>
            </div>

            <!--Boton Derecho-->
            <div class="icono-derecho" id="icono-derecho">
                <span class="arrowSlider material-symbols-outlined">arrow_forward_ios</span>
            </div>

            <!--Imagnenes Slider-->
            <div class="slider-screen">
                <div class="sliderIndex" id="slider">
                    <img decoding="async" class="img-sliderIndex" id="img-slider" src="/images/carrusel/carrusel12.jpg" alt="">
                    <img decoding="async" class="img-sliderIndex" id="img-slider" src="/images/carrusel/carrusel2.jpg" alt="">
                    <img decoding="async" class="img-sliderIndex" id="img-slider" src="/images/carrusel/carrusel3.jpg" alt="">
                    <img decoding="async" class="img-sliderIndex" id="img-slider" src="/images/carrusel/carrusel4.jpg" alt="">
                    <img decoding="async" class="img-sliderIndex" id="img-slider" src="/images/carrusel/carrusel5.jpg" alt="">
                    <img decoding="async" class="img-sliderIndex" id="img-slider" src="/images/carrusel/carrusel6.jpg" alt="">
                    <img decoding="async" class="img-sliderIndex" id="img-slider" src="/images/carrusel/carrusel7.jpg" alt="">
                    <img decoding="async" class="img-sliderIndex" id="img-slider" src="/images/carrusel/carrusel8.jpg" alt="">
                    <img decoding="async" class="img-sliderIndex" id="img-slider" src="/images/carrusel/carrusel9.jpg" alt="">
                    <img decoding="async" class="img-sliderIndex" id="img-slider" src="/images/carrusel/carrusel10.jpg" alt="">
                    <img decoding="async" class="img-sliderIndex" id="img-slider" src="/images/carrusel/carrusel11.jpg" alt="">
                    <img decoding="async" class="img-sliderIndex" id="img-slider" src="/images/carrusel/carrusel1.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <!--Welcome-->
    <section class="welcome">
        <div class="encabezado">
            <h1>Viví una experiencia con los 5 sentidos</h1>
            <p>
                Ubicado en Av. San Martín, sobre el centro de la ciudad, a 75 Km del centro de esquí valle Las Leñas.
                <!--De arquitectura moderna ofrece la perfecta armonía entre comodidad y tranquilidad. Sus confortables y amplias habitaciones decoradas con fotografías de las bellezas paisajísticas locales, madera, piedra, toques rústicos y tradicionales en sus diferentes ambientes instan a relajarse.
                Desde su terraza se tiene una increíblevista panorámica de la ciudad y de la imponente Cordillera de Los Andes, que deja maravillados a todos los viscitantes, exhortando a conocer y disfrutar de la variada agenda de actividades y excurciones en estrecho contacto con la naturaleza en cada estación del año.-->
            </p>
        </div>
    </section>
    
    <!--Secciones-->
    <section class= "galeria">
        <!--Mostrador Habitaciones-->
        <div class="habitaciones">  
            <img class="img-galeria" src="/images/habitaciones/Premium/premium1.jpg" alt="imagen de pieza 1">
            <a href="/habitaciones"><button class="btn-galeria">Habitaciones</button></a>
        </div>
        <!--Galeria de Fotos-->
        <div class="habitaciones">
            <img class="img-galeria" src="/images/general/24.jpg" alt="imagen galera">
            <a href="/galery"><button class="btn-galeria">Galería</button></a>
        </div>
        <!--Spa-->
        <div class="videoSpaIndex">
            <video class="vidio-galeria" autoplay muted loop height="10vh">
                <source src="/video/spa/promo.mp4" type="video/mp4">
            </video>
            <a href="/spa"><button class="btn-spa">Spa</button></a>
        </div>
            <!--Restaurant-->
        <!--<div class="restaurant">
            <img class="img-galeria" src="/images/restaurant/08.jpg" alt="imagen restaurant">
            <a href="/carta"><button class="btn-galeria">Restaurant</button></a>
        </div-->
    </section>

    <!--Info-->
    <section class="info">
        
        <article class="reserva">
            <a href="https://terrapatagonia.com.ar/rpg-terra/sistema/formPax/registroPaxEvt.php" target="_blank"><h2>Hace tu Reserva</h2><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </article>

        <div class="ubicacion">
            <h2>Cómo llegar</h2>
        </div>

        <div class="mapa">
            <a href="https://goo.gl/maps/Fxhih4oHwriujXvW7" target="_blank"><img class="img-galeria" src="/images/general/map.PNG" alt="imagen eventos"></a>
        </div>
        
    </section>
    
    <!--Servicios-->
    <section class="serves">
        <div>
            <h2>Servicios</h2>
        </div>
        <article class="article-serves">
            <div class="icon-serves"><i class="colorBronw fa-solid fa-bell-concierge"></i><p class="colorBronw">Recepción 24 horas</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-mug-hot"></i><p class="colorBronw">Desayuno buffete incluido</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-kitchen-set"></i><p class="colorBronw">Kitchenette</p></div>
            <div class="icon-serves"><i class="colorBronw fa-regular fa-credit-card"></i><p class="colorBronw">Todas las tarjetas</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-car-side"></i><p class="colorBronw">Cocheras privadas</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-suitcase-rolling"></i><p class="colorBronw">Taquillas guardaequipaje</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-wifi"></i><p class="colorBronw">Servicio de internet</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-tv"></i><p class="colorBronw">Television</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-wheelchair"></i><p class="colorBronw">Accesibilidad</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-water-ladder"></i><p class="colorBronw">Piscina</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-vault"></i></i><p class="colorBronw">Caja de seguridad</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-elevator"></i></i><p class="colorBronw">Elevador</p></div>
        </article>
    </section>
</main>

    <!-- FOOTER -->
<%- include('./partials/footer') %>

<script src="/js/banner.js"></script>
<script src="/js/carruselAnimado.js"></script>

</body>
</html>
