<!DOCTYPE html> 
<html> 
<!-- HEAD -->
<%- include('./partials/head') %>
<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
    <!-- MAIN -->
    <main class="spa">
        <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Full screen Carrusel<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
        <section class="carrusel">
        <!--Carrusel-->
            <div class="contenedor-slider">
                <!--Boton Izquierdo-->
                <div class="icono-izquierdo">
                    <i class="btnCarrucelJS fa-solid fa-chevron-left"></i>
                </div>
                <!--Imagnenes Slider-->
                <div class="slider-screen">
                    <div class="slider">
                        <img decoding="async" class="img-slider" src="/images/spa/1.jpg" alt="">
                        <img decoding="async" class="img-slider" src="/images/spa/2.jpg" alt="">
                        <img decoding="async" class="img-slider" src="/images/spa/3.jpg" alt="">
                        <img decoding="async" class="img-slider" src="/images/spa/4.jpg" alt="">
                        <img decoding="async" class="img-slider" src="/images/spa/5.jpg" alt="">
                    </div>
                </div>
                <!--Boton Derecho-->
                <div class="icono-derecho">
                    <i class="btnCarrucelJS fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </section>

        
        <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Banner<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< --
        <div class="spaBanner">
            <img src="/images/spa/spaBanner.jpg" class="imgeSpa" alt="1">
            <div class="spaPharagraph">
                <p class="spaPharagraph">
                    ¡Descubrí nuestro spa! 
                    <br/>
                    Ahora te ofrecemos distintos circuitos para puedas disfrutar de una experiencia incomparable.
                    <br/>
                    Sumérgete en un oasis de relajación con nuestra variedad de masajes, que incluyen opciones relajantes, descontracturantes, faciales y combinados. Vní a renovar tu cuerpo y mente.
                    <br/>
                    ¡No te pierdas nuestras promociones especiales! 
                </p>
            </div>
        </div-->

    </main>
    <!-- FOOTER -->
<%- include('./partials/footer') %>
<script src="/js/carrusel.js"></script>
</body>
</html>
