<!DOCTYPE html> 
<html> 
<!-- HEAD -->
<%- include('./partials/head') %>
<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
    <!-- MAIN -->
    <main class="spa">
        <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Full screen Carrusel<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
        <section class="carrusel" id="fullCarrusel">
            <!--Carrusel-->
            <div class="contenedor-slider">
               <!--Boton Izquierdo-->
                <div class="icono-izquierdo">
                    <span class="arrowSlider material-symbols-outlined">arrow_forward_ios</span>
                </div>
                <!--Boton Derecho-->
                <div class="icono-derecho">
                    <span class="arrowSlider material-symbols-outlined">arrow_forward_ios</span>
                </div>
                <!--Imagnenes Slider-->
                <div class="slider-screen">
                    <div class="slider">
                        <img decoding="async" class="img-slider" src="/images/spa/1.jpg" alt="">
                        <img decoding="async" class="img-slider" src="/images/spa/2.jpg" alt="">
                        <img decoding="async" class="img-slider" src="/images/spa/3.jpg" alt="">
                        <img decoding="async" class="img-slider" src="/images/spa/4.jpg" alt="">
                        <img decoding="async" class="img-slider" src="/images/spa/5.jpg" alt="">
                    </div>
                </div>
            </div>
            <!--Boton cerrar-->
            <span class="closeCarrusel" id="closeCarrusel">X</span>
        </section>

        
        <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Banner<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
        <section class="spaBanner">
            <img src="/images/spa/spaBanner.jpg" class="imgeSpa" alt="1">
            <div class="spaPharagraphDiv">
                <p class="spaPharagraph">
                    ¡Descubrí nuestro spa! 
                    <br/>
                    Ahora te ofrecemos distintos circuitos para puedas disfrutar de una experiencia incomparable.
                    <br/>
                    Sumérgete en un oasis de relajación con nuestra variedad de masajes, que incluyen opciones relajantes, descontracturantes, faciales y combinados. Vní a renovar tu cuerpo y mente.
                    <br/>
                    ¡No te pierdas nuestras promociones especiales!
                </p>
                <!--Abrir carrusel-->
                <div class="divOpenCarrusel" id="openCarrusel">
                    <p>Ver más</p>
                    <span class="openCarrusel material-symbols-outlined">
                        view_day
                    </span>
                </div>

            </div>
        </section>

    </main>
    <!-- FOOTER -->
<%- include('./partials/footer') %>
    <script src="/js/openAndClose.js"></script>
    <script src="/js/carruselSpa.js"></script>
</body>
</html>
