<!DOCTYPE html> 
<html> 
<!-- HEAD -->
<%- include('./partials/head') %>
<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
    <!-- MAIN -->
<main class="habitacion-main">
    
    <section class="encabezado">
        <div class="back-btn">
            <a href="/habitaciones">
                <i class="fa-solid fa-arrow-left-long"></i>
                <h1>Ejecutiva</h1>
            </a>
        </div>
    </section>
    
    <!--carruselAnimado-->
    <section class="carrusel">
        <!--Carrusel-->
        <div class="contenedor-slider">
            
            <!--Boton Izquierdo-->
            <div class="icono-izquierdo" id="icono-izquierdo">
                <span class="arrowSlider material-symbols-outlined">arrow_forward_ios</span>
            </div>
    
            <!--Boton Derecho-->
            <div class="icono-derecho" id="icono-derecho">
                <span class="arrowSlider material-symbols-outlined">arrow_forward_ios</span>
            </div>
    
            <!--Imagnenes Slider-->
            <div class="slider-screen">
                <div class="sliderSuite" id="slider">
                    <img decoding="async" class="img-sliderSuite" id="img-slider" src="/images/habitaciones/Ejecutiva/ejecutiva7.jpg" alt="">
                    <img decoding="async" class="img-sliderSuite" id="img-slider" src="/images/habitaciones/Ejecutiva/ejecutiva1.jpg" alt="">
                    <img decoding="async" class="img-sliderSuite" id="img-slider" src="/images/habitaciones/Ejecutiva/ejecutiva2.jpg" alt="">
                    <img decoding="async" class="img-sliderSuite" id="img-slider" src="/images/habitaciones/Ejecutiva/ejecutiva3.jpg" alt="">
                    <img decoding="async" class="img-sliderSuite" id="img-slider" src="/images/habitaciones/Ejecutiva/ejecutiva5.jpg" alt="">
                </div>
            </div>
            
        </div>
    </section>

    <section class="cuerpo-pieza">
        <article class="tarifas">
            <%- include('./partials/modalEjecutiva') %>
        </article>
        <article class="article-serves">
            <div class="icon-serves"><i class="colorBronw fa-solid fa-bell-concierge"></i><p class="colorBronw">Recepción 24 horas</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-mug-hot"></i><p class="colorBronw">Desayuno buffete incluido</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-kitchen-set"></i><p class="colorBronw">Kitchenette</p></div>
            <div class="icon-serves"><i class="colorBronw fa-regular fa-credit-card"></i><p class="colorBronw">Todas las tarjetas</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-car-side"></i><p class="colorBronw">Cocheras privadas</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-wifi"></i><p class="colorBronw">Servicio de internet</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-tv"></i><p class="colorBronw">Television</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-vault"></i></i><p class="colorBronw">Caja de seguridad</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-wheelchair"></i><p class="colorBronw">Accesibilidad</p></div>
            <div class="icon-serves"><i class="colorBronw fa-solid fa-water-ladder"></i><p class="colorBronw">Piscina</p></div>
        </article>
        
        <article class="reserva">
            <a href="https://terrapatagonia.com.ar/rpg-terra/sistema/formPax/registroPaxEvt.php" target="_blank"><h2>Hace tu Reserva</h2><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </article>
    </section>

    <section class="encabezado">
        <div class="back-btn"><a href="/habitaciones"><i class="fa-solid fa-arrow-left-long"></i></a></div>
    </section>
    
</main>
    <!-- FOOTER -->
<%- include('./partials/footer') %>
  

<script src="/js/carruselAnimado.js"></script>

</body>
</html>