<footer>
    <section class="guarda-footer-superior">
        <img src="/images/logo/guardaGrande.jpg" class="logo" alt="Logo_hotel">
    </section>
   <section class="guarda-footer-inferior">
        <article class="izquierda">
            <div class="zocaloIzquierdo">
                <img src="/images/logo/zocaloIdquierdo2.jpg" alt="zocalo">
            </div>
            <div class="contacto">
                <p class="telefono1"><a class="aFooter" href="tel:2604801469">260 480-1469</a></p>
                <p class="email1"><a class="aFooter" href="mailto:reservas@hotelterrapatagonia.com">reservas@hotelterrapatagonia.com</a></p>
                <p class="direccion1"><a class="aFooter" href="https://www.google.com/maps/place/Av.+San+Mart%C3%ADn+63,+M5613+Malarg%C3%BCe,+Mendoza/@-35.4660223,-69.5879823,17z/data=!3m1!4b1!4m6!3m5!1s0x967a7ecf61414ecb:0xf084178d0b553064!8m2!3d-35.4660267!4d-69.5854074!16s%2Fg%2F11svhqd14_?entry=ttu" target="_blank">Av San Martín 43.</a></p>
                <p class="telefono2">Teléfono: <a class="aFooter" href="tel:2604801469">260 480-1469</a></p>
                <p class="email2">E-mail: <a class="aFooter" href="mailto:reservas@hotelterrapatagonia.com">reservas@hotelterrapatagonia.com</a></p>
                <p class="direccion2"><a class="aFooter" href="https://www.google.com/maps/place/Av.+San+Mart%C3%ADn+63,+M5613+Malarg%C3%BCe,+Mendoza/@-35.4660223,-69.5879823,17z/data=!3m1!4b1!4m6!3m5!1s0x967a7ecf61414ecb:0xf084178d0b553064!8m2!3d-35.4660267!4d-69.5854074!16s%2Fg%2F11svhqd14_?entry=ttu" target="_blank">Av. San Martín 43. Malargüe. Mendoza. Argentina.</a></p>
            </div>
        </article>
        <article class="social-media">
                <div><a href="https://www.instagram.com/terrapatagoniahotel/" target="_blank" title="¡Seguinos en Instagram!"><img src="/images/logo/insta.jpeg" class="social-media-icon" alt="icon-instagram"></a></div>
                <div><a href="https://www.facebook.com/Terra-Patagonia-Hotel-105994005455036/" target="_blank" title="¡Seguinos en Facebook!"><img src="/images/logo/face.jpeg" class="social-media-icon" alt="icon-facebook"></a></div>
                <div class = "whatsapp"><a href="https://api.whatsapp.com/send/?phone=+54 260 4801469&text=Hola" target="_blank" title="¡Dejanos tu mensaje!"><img src="/images/logo/whatsapp-logo.png" alt="whatsapp logo"></a>
         </article>
   </section>

</footer>
