<footer>
    <section class="guarda-footer-superior">
        <img src="/images/logo/guardaGrande.jpg" class="logo" alt="Logo">
    </section>
   <section class="guarda-footer-inferior">
        <div class="derecha">
            <img src="/images/logo/zocalo.jpg" alt="zocalo">
        </div>
        <div class="social-media">
            <ul class="social-media-list" >
                <li><a href="https://www.instagram.com" target="_blank" title="¡Seguinos en Instagram!"><img src="/images/logo/insta.jpeg" class="social-media-icon" alt="icon-instagram"></a></li>
                <li><a href="https://www.facebook.com" target="_blank" title="¡Seguinos en Facebook!"><img src="/images/logo/face.jpeg" class="social-media-icon" alt="icon-facebook"></a></li>
            </ul>
        </div>
   </section>

</footer>
