<footer>
    <section class="guarda-footer-superior">
        <img src="/images/logo/guardaGrande.jpg" class="logo" alt="Logo">
    </section>
   <section class="guarda-footer-inferior">
        <article class="izquierda">
            <div class="zocaloIzquierdo">
                <img src="/images/logo/zocaloIdquierdo2.jpg" alt="zocalo">
            </div>
            <div class="contacto">
                <p class="telefono1">260 453-2498</p>
                <p class="email1">hotelterrapatagonia
                    @gmail.com</p>
                <p class="direccion1">Av San Martín 43.</p>
                <p class="telefono2">Teléfono: +54 260 453-2498</p>
                <p class="email2">E-mail: hotelterrapatagonia@gmail.com</p>
                <p class="direccion2">Av. San Martín 43. Malargüe. Mendoza. Argentina.</p>
            </div>
        </article>
        <article class="social-media">
                <div><a href="https://www.instagram.com/terrapatagoniahotel/" target="_blank" title="¡Seguinos en Instagram!"><img src="/images/logo/insta.jpeg" class="social-media-icon" alt="icon-instagram"></a></div>
                <div><a href="https://www.facebook.com/Terra-Patagonia-Hotel-105994005455036/" target="_blank" title="¡Seguinos en Facebook!"><img src="/images/logo/face.jpeg" class="social-media-icon" alt="icon-facebook"></a></div>
        </article>
   </section>

</footer>
