<header>
   
        <!--div class="burger-menu">
            <i class="background-burger fa-solid fa-bars"></i>
        </div-->
        <div class="logo-mobile"> 
            <a href="/home" target="_blank" title="Principal"><img src="/images/logo/TERRA_PATAGONIA_LOGO_20MM.png" class="logo" alt="Logo"></a> 
        </div>

        <div class="logo-desktop">                
            <a href="/home" target="_blank" title="Principal"><img src="/images/logo/Banner.png" class="logo" alt="Logo"></a> 
        </div>
        <div class="recerva-heder-btn">
            <a href="#" target="_blank" title="Principal"><button class="recerva-btn"><strong class="colorGreen">Recerva</strong></button></a>
        </div>
           
</header>
