<header>
   
        <!--div class="burger-menu">
            <i class="background-burger fa-solid fa-bars"></i>
        </div-->
        <div class="logo-mobile"> 
            <a href="/home" target="_blank" title="Principal"><img src="/images/logo/TERRA_PATAGONIA.jpg" class="logo" alt="Logo"></a> 
        </div>

        <div class="logo-desktop">                
            <a href="/home" target="_blank" title="Principal"><img src="/images/logo/Banner.png" class="logo" alt="Logo"></a> 
        </div>
        
            <a href="#" target="_blank" title="Principal" class="recerva-btn"><button class="recerva-btn">Recerva</button></a>
  
        
        
           
</header>
 