<head lang="en"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge”>
    <meta name="keywords" content="hotel, hoteles, malargüe, patagonia, terra, tierra, habitaciones, las leñas, turismo, cabañas, centro, descanso, montaña">
    <meta name=”description” content="En el centro de Malargüe al pie de la montaña, Terra Patagonia Hotel te dará una experiencia única de descanso donde la naturaleza y el confort se unen. Vivi la experiencia del descanso en nuestras habitaciones de lujo">
    <meta name="author" content="Peter Sauma">
    <meta name="copyrigth" content="Terra Patagonia Hotel">     
    <title>Terra Patagonia Hotel</title> 
    <script src="https://kit.fontawesome.com/2b66ed73d1.js" crossorigin="anonymous"></script>
    <base href = "/"> 
    <link rel="icon" href= "/images/logo/icon.png" />
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet">
</head>