<input type="checkbox" id="btn-modal">
	<label for="btn-modal" class="lbl-modal"><h2>Ver Detalle</h2></label>
	<div class="modal">
		<div class="contenedor">
			<header><h2 class="encabezado">Ejecutiva</h2></header>
			<label for="btn-modal">X</label>
			<div class="contenido">
				<h2><strong>1° PISO</strong></h2>
				<ul>
                    <li><i><p>Nº: 103/104/105</p></i>
                        <p>triple twin/ opción triple matrimonial.</p>
                    </li>
                </ul>
                <h2><strong>2° PISO</strong></h2>
				<ul>
                    <li><i><p>Nº: 203/204/205</p></i>
                        <p>triple twin/ opción triple matrimonial.</p>
                    </li> 
                </ul>
                <p>
                    La habitación cuenta con mesa de trabajo, caja de seguridad, placar, calefacción, aire acondicionado frio/calor, piso flotante, ante baño, baño completo con secador de pelo, TV 42 pulgadas, kitchenette con frigobar, microondas y pava eléctrica, tamaño de cama Queen side.
                    <br>Pasillos internos vidriados, luminosos con vistas al patio interno del hotel.
                    <h2><strong>Tarifa </strong></h2>
                    <ul> 
                        <li><p>Base doble matrimonial $12.000.</p></li>
                        <li><p>Base triple matrimonial o triple twin $15.000.</p></li>
                </p>
                <article class="tarifas">                
                    <div class="pasajeros">
                        <i class="colorBronw fa-solid fa-user"></i>
                        <i class="colorBronw fa-solid fa-user"></i>
                        <i class="colorBronw fa-solid fa-user"></i>
                        <i class="colorBronw fa-solid fa-bed"></i>
                        <i class="colorBronw fa-solid fa-bed"></i>
                        <i class="colorBronw fa-solid fa-bed"></i>
                    </div>
                </article>
			</div>
		</div>
	</div>