<input type="checkbox" id="btn-modal">
	<label for="btn-modal" class="lbl-modal"><h2>Ver Detalle</h2></label>
	<div class="modal">
		<div class="contenedor">
			<header><h2 class="encabezado">Premium</h2></header>
			<label for="btn-modal">X</label>
			<div class="contenido">
				<h2><strong>1° PISO</strong></h2>
				<ul>
                    <li><i><p>Nº: 101</p></i>
                        <p>matrimonial/ opción doble-doble.</p>
                    </li>
                    <li><i><p>Nº: 102</p></i>
                        <p> doble matrimonial/ opción triple matrimonial.</p>
                    </li>  
                </ul>
                <h2><strong>2° PISO</strong></h2>
				<ul>
                    <li><i><p>Nº: 201</p></i>
                        <p>matrimonial/ opción doble-doble.</p>
                    </li>
                    <li><i><p>Nº: 202</p></i>
                        <p> doble matrimonial/ opción triple matrimonial.</p>
                    </li>  
                </ul>
                <p>
                    La habitación cuenta con mesa de trabajo, caja de seguridad, placar, calefacción, aire acondicionado frio/calor, piso flotante, ante baño, baño completo con secador de pelo, TV 55 pulgadas, kitchenette con frigobar, microondas y pava eléctrica, tamaño de cama King side.
                </p>
                <article class="tarifas">                
                    <div class="pasajeros">
                        <i class="colorBronw fa-solid fa-user"></i>
                        <i class="colorBronw fa-solid fa-user"></i>
                        <i class="colorBronw fa-solid fa-user"></i>
                        <i class="colorBronw fa-solid fa-user"></i>
                        <i class="colorBronw fa-solid fa-bed"></i>
                        <i class="colorBronw fa-solid fa-bed"></i>
                    </div>
                </article>
			</div>
		</div>
	</div>