<input type="checkbox" id="btn-modal">
	<label for="btn-modal" class="lbl-modal"><h2>Ver Detalle</h2></label>
	<div class="modal">
		<div class="contenedor">
			<header><h2 class="encabezado">Standar</h2></header>
			<label for="btn-modal">X</label>
			<div class="contenido">
				<h2><strong>PLANTA BAJA</strong></h2>
				<ul>
                    <li><i><p>Nº: 011/012/013</p></i>
                        <p>triple twin.</p>
                    </li>
                    <li><i><p>Nº: 014/015/016</p></i>
                        <p>triple twin/ opción triple matrimonial.</p>
                    </li>   
                </ul>
                <h2><strong>1° PISO</strong></h2>
				<ul>
                    <li><i><p>Nº: 111/112/113/114/115/116</p></i>
                        <p>doble twin.</p>
                    </li> 
                </ul>
                <p>
                    La habitación cuenta con baño completo con secador de pelo, caja de seguridad, placar, TV 32 pulgadas, kitchenette con: microondas, pava eléctrica, frigobar, calefacción. 
                    <h2><strong>Tarifa </strong></h2>
                    <ul> 
                        <li><p>Base single $7500.</p></li>
                        <li><p>Base doble matrimonial o doble twin $9500</p></li>
                        <li><p>Base triple matrimonial o triple twin $11.000.</p></li>
                </p>
                <article class="tarifas">                
                    <div class="pasajeros">
                        <i class="colorBronw fa-solid fa-user"></i>
                        <i class="colorBronw fa-solid fa-user"></i>
                        <i class="colorBronw fa-solid fa-user"></i>
                        <i class="colorBronw fa-solid fa-bed"></i>
                        <i class="colorBronw fa-solid fa-bed"></i>
                        <i class="colorBronw fa-solid fa-bed"></i>
                    </div>
                </article>
			</div>
		</div>
	</div>