<input type="checkbox" id="btn-modal">
<label for="btn-modal" class="lbl-modal">
  <h2>Ver Detalle</h2>
</label>
<div class="modal">
  <div class="contenedor">
    <header>
      <h2 class="encabezado">Ejecutiva</h2>
    </header>
    <label for="btn-modal">X</label>
    <div class="contenido">

      <p>
        La habitación cuenta con mesa de trabajo,
        caja de seguridad, placar,
        calefacción, aire acondicionado frio/calor,
        piso flotante, ante baño, baño completo con
        acondicionador, TV 42 pulgadas, kitchenette
        equipado con frigobar, microondas y pava eléctrica,
        tamaño de cama Queen Size.
        <br>Pasillos internos vidriados, luminosos con vistas al patio interno del hotel.
      </p>

      <h2><strong>Tarifa </strong></h2>
      <ul>
        <li>
          <p>Base single $72.000</p>
        </li>
        <li>
          <p>Base doble matrimonial o doble twin $85.000</p>
        </li>
        <li>
          <p>Base triple matrimonial o triple twin $96.000</p>
        </li>
      </ul>
      
      <article class="tarifas">
        <div class="pasajeros">
          <i class="colorBronw fa-solid fa-user"></i>
          <i class="colorBronw fa-solid fa-user"></i>
          <i class="colorBronw fa-solid fa-user"></i>
          <i class="colorBronw fa-solid fa-bed"></i>
          <i class="colorBronw fa-solid fa-bed"></i>
          <i class="colorBronw fa-solid fa-bed"></i>
        </div>
      </article>
    </div>
  </div>
</div>