<input type="checkbox" id="btn-modal">
	<label for="btn-modal" class="lbl-modal"><h2>Ver Detalle</h2></label>
	<div class="modal">
		<div class="contenedor">
			<header><h2 class="encabezado">Premium</h2></header>
			<label for="btn-modal">X</label>
			<div class="contenido">

                <p>
                    La habitación cuenta con mesa 
                    de trabajo, caja de seguridad, 
                    placar, calefacción, aire 
                    acondicionado frio/calor, piso 
                    flotante, ante baño, baño 
                    completo con secador de pelo,
                    toallas, shampoo, 
                    acondicionador, TV 55 pulgadas, 
                    kitchenette equipada con: frigo 
                    bar, microondas y pava eléctrica, 
                    tamaño de cama King Size.
                    
                    <h2><strong>Tarifa </strong></h2>
                    <ul> 
                        <li><p>$ 30.000</p></li>
                        <li>
                            <p>
                                Los pasajeros adicionales en las 
                                opciones PREMIUM doble/doble (2 
                                pasajeros mas) o triple matrimonial (1 
                                pasajero mas), se sumarán a los 
                                $30.000, por un valor de $4.000 por 
                                pasajero.
                            </p>
                        </li>
                    
                </p>
                <article class="tarifas">                
                    <div class="pasajeros">
                        <i class="colorBronw fa-solid fa-user"></i>
                        <i class="colorBronw fa-solid fa-user"></i>
                        <i class="colorBronw fa-solid fa-user"></i>
                        <i class="colorBronw fa-solid fa-user"></i>
                        <i class="colorBronw fa-solid fa-bed"></i>
                        <i class="colorBronw fa-solid fa-bed"></i>
                    </div>
                </article>
			</div>
		</div>
	</div>