<input type="checkbox" id="btn-modal">
	<label for="btn-modal" class="lbl-modal"><h2>Ver Detalle</h2></label>
	<div class="modal">
		<div class="contenedor">
			<header><h2 class="encabezado">Standar</h2></header>
			<label for="btn-modal">X</label>
			<div class="contenido">

                <p>
                    La habitación cuenta con baño completo
                    con secador de pelo, toallas, shampoo, 
                    acondicionador, caja de seguridad, placar, 
                    TV 32 pulgadas, microondas, pava 
                    eléctrica, frigobar, calefacción. 
                    Cama matrimonial de dos plazas.
                    Cama twin una plaza

                    <h2><strong>Tarifa </strong></h2>
                    <ul> 
                        <li><p>Base single $10.000</p></li>
                        <li><p>Base doble matrimonial o doble twin $12.000</p></li>
                        <li><p>Base triple matrimonial o triple twin $14.500</p></li>
                </p>
                <article class="tarifas">                
                    <div class="pasajeros">
                        <i class="colorBronw fa-solid fa-user"></i>
                        <i class="colorBronw fa-solid fa-user"></i>
                        <i class="colorBronw fa-solid fa-user"></i>
                        <i class="colorBronw fa-solid fa-bed"></i>
                        <i class="colorBronw fa-solid fa-bed"></i>
                        <i class="colorBronw fa-solid fa-bed"></i>
                    </div>
                </article>
			</div>
		</div>
	</div>